[submodule "TongZhang_zhant293_WebAdvJS_Fall16"]
	path = TongZhang_zhant293_WebAdvJS_Fall16
	url = https://github.com/tz920223/TongZhang_zhant293_WebAdvJS_Fall16
[submodule "QinziTan_tanq336_WebAdvJS_Fall16"]
	path = QinziTan_tanq336_WebAdvJS_Fall16
	url = https://github.com/qinzitan/QinziTan_tanq336_WebAdvJS_Fall16
[submodule "RoxyFarkas_farkr005_WebAdvJs_Fall16"]
	path = RoxyFarkas_farkr005_WebAdvJs_Fall16
	url = https://github.com/rsfarkas/RoxyFarkas_farkr005_WebAdvJs_Fall16
[submodule "dylannegri_negrm581_WebAdvJS_Fall2016"]
	path = dylannegri_negrm581_WebAdvJS_Fall2016
	url = https://github.com/dylannegri/dylannegri_negrm581_WebAdvJS_Fall2016
[submodule "rendu_dur375_WebAdvJS_Fall16"]
	path = rendu_dur375_WebAdvJS_Fall16
	url = https://github.com/polyren/rendu_dur375_WebAdvJS_Fall16
[submodule "XiaolingChen_chenx553_WebAdvJS_Fall16"]
	path = XiaolingChen_chenx553_WebAdvJS_Fall16
	url = https://github.com/SherlinC/XiaolingChen_chenx553_WebAdvJS_Fall16
[submodule "JiyeonKang_dreamealist_WebAdvJS_Fall16"]
	path = JiyeonKang_dreamealist_WebAdvJS_Fall16
	url = https://github.com/dreamealist/JiyeonKang_dreamealist_WebAdvJS_Fall16
[submodule "SeungWhanLee_lees569_WebAdvJS_Fall16"]
	path = SeungWhanLee_lees569_WebAdvJS_Fall16
	url = https://github.com/lees569/SeungWhanLee_lees569_WebAdvJS_Fall16
[submodule "PornsimaDuangratana_duanp729_WebAdvJS_Fall16"]
	path = PornsimaDuangratana_duanp729_WebAdvJS_Fall16
	url = https://github.com/Pornsimad11/PornsimaDuangratana_duanp729_WebAdvJS_Fall16
[submodule "hannahekman_ekmah864_WebAdvJS_Fall16"]
	path = hannahekman_ekmah864_WebAdvJS_Fall16
	url = https://github.com/ekmanh/hannahekman_ekmah864_WebAdvJS_Fall16
[submodule "NelsonVassalo_baian046_WebAdvJS_Fall16"]
	path = NelsonVassalo_baian046_WebAdvJS_Fall16
	url = https://github.com/nelsonvassalo/NelsonVassalo_baian046_WebAdvJS_Fall16
[submodule "DianRachmawati_rachd852_WebAdvJS_Fall16"]
	path = DianRachmawati_rachd852_WebAdvJS_Fall16
	url = https://github.com/beneffin/DianRachmawati_rachd852_WebAdvJS_Fall16
[submodule "KarlaPolo_KayPolo_WevAdvJS_Fall16"]
	path = KarlaPolo_KayPolo_WevAdvJS_Fall16
	url = https://github.com/KayPolo/KarlaPolo_KayPolo_WevAdvJS_Fall16
[submodule "DanielleSobel_dvsobel_WebAdvJS_Fall16"]
	path = DanielleSobel_dvsobel_WebAdvJS_Fall16
	url = https://github.com/dvsobel/DanielleSobel_dvsobel_WebAdvJS_Fall16
