[submodule "TongZhang_zhant293_WebAdvJS_Fall16"]
	path = TongZhang_zhant293_WebAdvJS_Fall16
	url = https://github.com/tz920223/TongZhang_zhant293_WebAdvJS_Fall16
[submodule "QinziTan_tanq336_WebAdvJS_Fall16"]
	path = QinziTan_tanq336_WebAdvJS_Fall16
	url = https://github.com/qinzitan/QinziTan_tanq336_WebAdvJS_Fall16
[submodule "CourtneySnavely_snavc270_WebAdvJS_Fall16"]
	path = CourtneySnavely_snavc270_WebAdvJS_Fall16
	url = https://github.com/snavc270/CourtneySnavely_snavc270_WebAdvJS_Fall16
[submodule "RoxyFarkas_farkr005_WebAdvJs_Fall16"]
	path = RoxyFarkas_farkr005_WebAdvJs_Fall16
	url = https://github.com/rsfarkas/RoxyFarkas_farkr005_WebAdvJs_Fall16
[submodule "dylannegri_negrm581_WebAdvJS_Fall2016"]
	path = dylannegri_negrm581_WebAdvJS_Fall2016
	url = https://github.com/dylannegri/dylannegri_negrm581_WebAdvJS_Fall2016
